html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.contador-circular {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(83, 109, 254);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s ease;
  display: none;
}

.contador-circular:hover {
  background-color: rgb(55, 91, 215);
}

.contador-estrella {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(244, 170, 66);
  color: rgb(100, 99, 99);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s ease;
  display: none;
}

.contador-estrella:hover {
  background-color: rgb(225, 151, 51);
}
.floating-buttons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.floating-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00bcd4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  flex: 1 0 200px;
  max-width: 200px;
  border: none;
  text-decoration: none;
}

.btn.info {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 8px;
  background-color: rgb(243, 108, 108);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.btn.info:hover {
  background-color: rgb(226, 80, 80);
}

.floating-buttons button a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.floating-buttons button i {
  margin-right: 5px;
}

/* Estilos para modal y contenido */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
/* Estilos para imagen y descripción */
.slide img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide .caption {
  margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}